# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Ignore all logs
*.log

# Ignore pycharm settings
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv-win/

*.csv

# Ignore the credentials
*.json

# Ignore databases
*.db
